venv/
.env
EXAMPLES USING MCP AND LANGCHAIN REACT/
development_scripts/
data/

# Caching and bytecode
*/__pycache__/*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz

# Heavy Data
data/vector_store/